*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Didact Gothic', sans-serif;
}
body{
  background-color: #C1C1C1;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

header{
  background-color: #3C3CFB;
}

h1, h2{
  display:inline-block;
  color: white;
}

button:focus{
  outline: none;
}

button:active{
  transform: translateY(4px);
}

.main-title{
  padding:2px;
  border: 3px solid #FFFFFF;
  margin-top:5px;
}

h2{
  font-size: 18px;
}

.title-container{
  padding-bottom:5px;
}

button:hover{
  cursor: pointer;
}

.landing-page{
  text-align: center;
}

.info-section{
  padding-top:10px;
  width: 100%;
}

.info-section h2{
  font-size: 40px;
  height: 300px;
  width:100%;
  color: white;
  padding: 20px;
  padding-top:30px;
  margin-bottom: 10px;
  background: url("https://www.walldevil.com/wallpapers/a80/scenic-beach-sunset-wallpaper-images.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  border-radius: 2px;
  box-shadow: 0px 2px 5px 0px black;
  text-align: center;
  vertical-align: bottom;
}

.list-container{
  padding: 10px;
  padding-top:50px;
  padding-bottom: 50px;
  background-color: #3942FF;
  text-shadow: 0 1px 1px black;
  text-align: center;
}

.sign-up-area{
  background-color: white;
  height: 95vh;
  box-shadow: 0px 2px 5px 0px black;
}

.sign-up-area h3{
  background-color: #3942FF;
  font-size: 36px;
  color: white;
}

.sign-up-area ul{
  border: 3px solid white;
}

.sign-up-area li{
  font-size: 28px;
  color: white;
}

h4{
  color: #3942FF;
  border: 3px solid #3942FF;
  font-size: 40px;
  margin-top: 5px;
  margin-bottom: 10px;
}

#sign-up-form{
  text-align: center;
}

#sign-up-form input{
  height: 50px;
  margin: 3px;
  font-size: 20px;
}

#sign-up-submit{
  color: white;
  height: 35px;
  border-radius: 10px;
  margin-top:3px;
  width: 50%;
  font-size: 18px;
  background-color:#3942FF;
}

#sign-in{
  height:37px;
  padding-top:5px;
}

#sign-in input{
  font-size:18px;
  height: 50px;
  vertical-align: bottom;
  padding:5px;
  margin-bottom: 10px;
  width: 100%;
}

#sign-in-submit{
  color: #3C3CFB;
  height: 50px;
  font-size: 20px;
  width: 70%;
  float:right;
  margin-left: auto;
  margin-right: 35px;
  border-radius: 15px;
}


#drop-down-menu{
  height: 200px;
  position: absolute;
  width: 250px;
  top: 60px;
  right: 0;
  text-align: center;
  background-color: #3C3CFB;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

#drop-down-menu-button{
  color: white;
  background-color: #3942FF;
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 50px
}

@media screen and (max-width:886px){
  #sign-up-form{
    max-width: 50%;
    text-align:center;
    margin-left: 25%;
  }
}

@media screen and (max-width: 470px){
  .sub-title{
    display: none;
  }
}

ul{
  list-style: none;
}

.card-name{
  text-transform: capitalize;
}

.budget-card{
  border: 1px solid black;
  margin: 10px; 
}

.edit-income{
  float: right;
}
